<!DOCTYPE html>
<html lang="en">
<head>
	<title>Car Rental ROJO RAFIH</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/bootstrap4/bootstrap.min.css') ?>">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/styleloginadmin.css') ?>">
</head>
<body>
<div class="super_container">
	<div class="home">
		<div class="background_image" style="background-image:url(<?php echo base_url('assets/Images/headerbooking.jpg') ?>)"></div>
		<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
									<div class="logo">
										<a href="<?php echo site_url('Welcome/index') ?>"><span>Car Rental</span>ROJO RAFIH</a>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li><a href="<?php echo site_url('Welcome/index') ?>">Beranda</a></li>
													<li><a href="<?php echo site_url('Welcome/rentallogin') ?>">Rental Mobil</a></li>
													<li><a href="<?php echo site_url('Welcome/about') ?>">Tentang Kami</a></li>
													<li><a href="<?php echo site_url('Welcome/pencarian') ?>">Pencarian</a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</header>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Login Admin</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-6.col-md-offset-3.text-center.title">
					<div class="contact_form">
						<div class="contact_info_title"></div>
							<div style="padding-left: 335px;" class="contact_form_container">
								<div class="cform">
									<form action="<?php echo site_url('Welcome/proseslogin'); ?>" method="post">
										<h2>Login Admin</h2><br/>
										<label>Username</label>
										<input type="text" name="NamaUser" placeholder="Username">
										<label>Password</label>
								    	<input type="password" name="KataSandi" placeholder="Password">
								    	<input type="submit" value="Login">
								  	</form>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="copyright">
			&copy; Copyright By : ROJO RAFIH
		</div>
	</footer>
</div>
</body>
</html>