<!DOCTYPE html>
<html lang="en">
<head>
	<title>Car Rental ROJO RAFIH</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/bootstrap4/bootstrap.min.css') ?>">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/stylemenuadmin.css') ?>">
</head>
<body>
<div class="super_container">
	<div class="home">
		<div class="background_image" style="background-image:url(<?php echo base_url('assets/Images/headerutama.jpg') ?>)"></div>
		<header class="header" id="header">
			<div class="header_top">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
								<div class="logo">
									<a href="<?php echo site_url('Welcome/index') ?>"><span>Car Rental</span>ROJO RAFIH</a>	
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</header>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Rental Mobil Lampung Murah Online</div>
							<div class="home_text">Solusi untuk rental mobil. Berpengalaman dan terpercaya</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="info">
		<div class="container">
			<div class="row row-eq-height">
				<div class="col-lg-4 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="<?php echo base_url('assets/Images/datauser.jpg') ?>" alt=""></div>
						<div class="info_content">
							<div class="info_title">Klik untuk melihat data user</div>
							<div class="button info_button"><a href="<?php echo site_url('Welcome/tampil_user') ?>" method="post"><span>Data User</span><span>Data User</span></a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="<?php echo base_url('assets/Images/datamobil.jpg') ?>" alt=""></div>
						<div class="info_content">
							<div class="info_title">Klik untuk melihat data mobil</div>
							<div class="button info_button"><a href="<?php echo site_url('Welcome/tampil_mobil') ?>" method="post"><span>Data Mobil</span><span>Data Mobil</span></a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 info_box_col">
					<div class="info_box">
						<div class="info_image"><img src="<?php echo base_url('assets/Images/databooking.jpg') ?>" alt=""></div>
						<div class="info_content">
							<div class="info_title">Klik untuk melihat data booking</div>
							<div class="button info_button"><a href="<?php echo site_url('Welcome/tampil_booking') ?>"><span>Data Booking</span><span>Data Booking</span></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="copyright">
			&copy; Copyright By : ROJO RAFIH
		</div>
	</footer>
</div>
</body>
</html>