<!DOCTYPE html>
<html leng="en">
<head>
	<title>Car Rental Rojo Rafih</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/stylerental.css') ?>">
</head>
<body>
	<header>
		<img src="<?php echo base_url('assets/Images/Header.jpg') ?>">
		<nav class="nav">
	 		<a href="<?php echo site_url('Welcome/index') ?>">Beranda</a>
	 		<a class="active" href="<?php echo site_url('Welcome/rental') ?>">Rental Mobil</a>
	 		<a href="<?php echo site_url('Welcome/about') ?>">Tentang Kami</a>
	  		<a href="<?php echo site_url('Welcome/pencarian') ?>">Cari Mobil</a>			
		</nav>
	</header>
	<div class="row">
		<div class="leftcolumn">
			<div class="card">
				
			</div>
		</div>
		<div class="rightcolumn">
			<div class="card">
				
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="copyright">
			&copy; Copyright By : Tugas Besar PABW	
		</div>
	</div>
</body>
</html>