<!DOCTYPE html>
<html lang="en">
<head>
	<title>Car Rental ROJO RAFIH</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/bootstrap4/bootstrap.min.css') ?>">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/Style/styletentang.css') ?>">
</head>
<body>
<div class="super_container">
	<div class="home">
		<div class="background_image" style="background-image:url(<?php echo base_url('assets/Images/headerabout.jpg') ?>)"></div>
		<header class="header" id="header">
			<div>
				<div class="header_top">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="header_top_content d-flex flex-row align-items-center justify-content-start">
									<div class="logo">
										<a href="<?php echo site_url('Welcome/index') ?>"><span>Car Rental</span>ROJO RAFIH</a>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header_nav" id="header_nav_pin">
					<div class="header_nav_inner">
						<div class="header_nav_container">
							<div class="container">
								<div class="row">
									<div class="col">
										<div class="header_nav_content d-flex flex-row align-items-center justify-content-start">
											<nav class="main_nav">
												<ul class="d-flex flex-row align-items-center justify-content-start">
													<li><a href="<?php echo site_url('Welcome/index') ?>">Beranda</a></li>
													<li><a href="<?php echo site_url('Welcome/rentallogin') ?>">Rental Mobil</a></li>
													<li class="active"><a href="<?php echo site_url('Welcome/about') ?>">Tentang Kami</a></li>
													<li><a href="<?php echo site_url('Welcome/pencarian') ?>">Pencarian</a></li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>	
		</header>
	</div>
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">Tentang Kami</div>
				</div>
			</div>
			<div class="row about_row row-eq-height">
				<div class="col-lg-4">
					<div class="about_text_highlight">Car Rental ROJO RAFIH</div>
					<div class="about_text">
						<p>Car Rental ROJO RAFIH adalah perusahaan sewa mobil di Lampung yang terpercaya dengan harga kompetitif dan pelayanan prima. Menyediakan paket sewa mobil.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about_text_2">
						<p>Car Rental ROJO RAFIH hadir sebagai perusahaan sewa mobil terpercaya dengan harga kompetitif kami yakin bisa memberikan pelayanan yang memuaskan bagi anda. Keamanan dan kenyamanan customer adalah prioritas kami bagi mereka yang sedang melakukan perjalanan liburan wisata, untuk keperluan bisnis dan perusahaan ataupun untuk keperluan lainnya yang memerlukan mobil sewaan</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about_image"><img src="<?php echo base_url('assets/Images/about_1.jpg') ?>" alt=""></div>
				</div>
			</div>
		</div>
	</div>	
	<footer class="footer">
		<div class="copyright">
			&copy; Copyright By : ROJO RAFIH
		</div>
	</footer>
</div>
</body>
</html>